* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "iranyekanwebregular", Arial, Helvetica, sans-serif;
    background-color: #e6eef2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 90px;
    margin: auto;
    padding: 2px 0 7px;
    /* background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px); */
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 30px;
    /* border: 3px solid black; */
}

.logo img {
    width: 200px;
    margin-left: 10px;
    margin-top: 12px;
    border-radius: 30px;
}

.header-ul {
    display: flex;
    align-items: center;
}

.navigation li {
    list-style-type: none;
    margin: 0 15px;
}

.bakc {
    background-color: #3b87ad;
    padding: 5px;
    border-radius: 20px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

/* .navigation a:hover {
    color: rgb(0, 110, 255);
    transition: all 0.1s ease-in;
} */

.div-departman a:hover {
    color: rgb(0, 110, 255);
    transition: all 0.1s ease-in;
}

.more-menu {
    display: flex;
    justify-content: space-between;
}

.more-menu img {
    width: 8px;
    margin-right: 8px;
}

#show-departman-menu {
    position: relative;
}

.departman-menu {
    position: absolute;
    top: 0;
    left: -980px;
    background-color: rgb(226, 226, 226);
    display: none;
    justify-content: flex-start;
    width: 1150px; 
    border-top: 5px solid rgb(0, 162, 255);
    border-bottom: 5px solid rgb(0, 162, 255);
    border-radius: 20px;
    padding: 40px 20px 20px;
    margin-top: 25px;
}

.div-departman {
    display: flex;
}

.departman-menu p {
    font-size: 1.2rem;
    color: rgb(0, 153, 255);
    margin-right: 15px;
}

.departman-menu a {
    font-size: 15px;
    display: block;
    margin-top: 17px;
    line-height: 25px;
}

.hamburger-icon {
    display: none;
    width: 27px;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(226, 226, 226);
    z-index: 100;
    width: 100%;
    padding: 10px;
    transform: translateY(-100%);
    border-bottom: 5px solid rgb(0, 162, 255);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cross-icon {
    width: 100%;
    padding: 10px 0 0;
}

.cross-icon img {
    width: 20px;
    margin-left: 30px;
}

.hamburger-menu-items {
    padding: 10px 30px;
}

.hamburger-menu-items ul {
    list-style-type: none;
}

.hamburger-menu-items a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0;
}

.hamburger-menu-items a:hover {
    color: rgb(0, 153, 255);
}

.show-hamburger-menu {
    animation: fadeInDown 0.5s forwards;
}


.main-sec {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 350px;
    margin: 50px auto 0
}

.main-sec .paregraph {
    width: 500px;
    text-shadow: 1px 1px 5px gray;
    margin: 30px 0;
}

.main-sec .paregraph h1 {
    text-align: center;
    margin-bottom: 15px;
}

.main-sec .paregraph p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 40px;
    margin-top: 15px;
}

.main-sec .image img {
    width: 550px;
    height: 350px;
    box-shadow: 10px 10px 10px rgb(224, 224, 224),
    -10px -10px 10px rgb(218, 221, 228);
    border-radius: 30px;
}

article {
    width: 1240px;
    margin: 50px auto;
}

.conteiner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.conteiner-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-child img {
    width: 190px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgb(224, 224, 224),
    -10px -10px 10px rgb(218, 221, 228);
}

.conteiner-child a {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px auto 0;
    padding: 80px;
    /* background-color: rgb(196, 196, 196); */
    background-color: #6a9ab1;
}

.document {
    width: 500px;
    margin-left: 100px;
}

.parag {
    line-height: 30px;
}

.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 500px);
}

.links li {
    list-style-type: none;
    margin-bottom: 10px;
}

.links a {
    text-decoration: none;
    color: black;
}

.contact p {
    margin-bottom: 10px;
}

.first-p {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.contact-images {
    display: flex;
    margin-top: 15px;
}

.contact-image {
    background-color: white;
    margin-left: 15px;
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}