@media (max-width:1200px) {
    .header {
        width: 940px;
        height: 70px;
    }
    .logo img {
        width: 150px;
        height: 70px;
    }
    .navigation a {
        font-size: 0.8rem;
    }
    .departman-menu {
        left: -750px;
        width: 890px;
        padding: 20px 10px 10px;
    }
    .departman-menu p {
        font-size: 0.8rem;
    }
    .departman-menu a {
        margin-top: 10px;
        line-height: 18px;
    }
    .sections {
        width: 950px;
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    }
    section img {
        width: 200px;
    }
    footer {
        padding: 40px;
    }
    .document {
        width: 400px;
        margin-left: 50px;
    }    
}

@media (max-width:1024px) {
    .header {
        width: auto;
        margin: 0 10px 0 10px;
    }
    .logo img {
        width: 150px;
        margin: 0;
    }
    .navigation a {
        font-size: 0.7rem;
    }
    .navigation li {
        margin: 0 10px;
    }
    .departman-menu {
        left: -680px;
        width: 790px;
        padding: 20px 10px 10px;
    }
    .sections {
        width: 90%;
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
        gap: 20px;
    }
    .section {
        margin-bottom: 10px;
        padding: 10px;
        /* height: 220px; */
    }
    section img {
        width: 80%;
        margin-bottom: 10px;
    }
    section h1 {
        margin-bottom: 5px;
    }
    section p {
        line-height: 20px;
    }
    .document {
        width: 300px;
        margin-left: 30px;
    } 
    .links {
        width: calc(100% - 300px);
    } 
}

@media (max-width:800px) {
    .navigation {
        display: none;
    }
    .hamburger-icon {
        display: block;
        margin-right: -1000;
    }
    .header {
        height: 70px;
        padding: 10px 8px;
    }
    footer {
        flex-direction: column;
    }
    .child img {
        width: 165px;
        height: 165px;
    }
    .document {
        width: 100%;
        margin-left: 0px;
    } 
    .links {
        width: 100%;
        gap: 20px;
    } 
    .contact-images {
        display: grid;
        margin-top: 15px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .contact-image {
        margin-left: 0;
    }
    .first-p {
        font-size: 1rem;
        margin-bottom: 10px;
    }
}

@media (max-width:480px) {
    .child img {
        width: 130px;
        height: 130px;
    }
}

