* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "iranyekanwebregular", Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 90px;
    margin: auto;
    padding: 2px 0 7px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 30px;
}

.logo img {
    width: 200px;
    margin-left: 10px;
    margin-top: 12px;
    border-radius: 30px;
}

.header-ul {
    display: flex;
    align-items: center;
}

.navigation li {
    list-style-type: none;
    margin: 0 15px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

main {
    background: url(./images/images.jpg);
    width: 1200px;
    height: 530px;
    background-size: cover;
    margin: 20px auto;
    position: relative;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgb(224, 224, 224),
    -10px -10px 10px rgb(247, 247, 247);
}

main div {
    width: 1200px;
    height: 530px;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 30px;
}

main h1 {
    position: absolute;
    top: 400px;
    right: 190px;
    font-size: 2.5rem;
    background-color: rgba(255, 255, 255, 0.795);
    padding: 20px;
    border-radius: 20px;
}

.sections {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 40px;
    margin: 50px auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: rgb(143, 187, 187);
    padding: 20px;
    text-align: center;
    border-radius: 35px;
    box-shadow: 10px 10px 10px rgb(224, 224, 224),
    -10px -10px 10px rgb(247, 247, 247);
    text-shadow: 2px 2px 5px gray;
    color: white;
}

section img {
    border-radius: 20px;
    margin-bottom: 20px;
}

section h1 {
    margin-bottom: 15px;
}

section p {
    line-height: 25px;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 80px;
    background-color: rgb(196, 196, 196);
}

.document {
    width: 500px;
    margin-left: 100px;
}

.parag {
    line-height: 30px;
}

.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 500px);
}

.links li {
    list-style-type: none;
    margin-bottom: 10px;
}

.links a {
    text-decoration: none;
    color: black;
}

.contact p {
    margin-bottom: 10px;
}

.first-p {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.contact-images {
    display: flex;
    margin-top: 15px;
}

.contact-image {
    background-color: white;
    margin-left: 15px;
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}