* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "iranyekanwebregular", Arial, Helvetica, sans-serif;
    background-color: #e6eef2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 90px;
    margin: auto;
    padding: 2px 0 7px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* backdrop-filter: blur(25px); */
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 30px;
    /* border: 3px solid black; */
}

.logo img {
    width: 200px;
    margin-left: 10px;
    margin-top: 12px;
    border-radius: 30px;
}

.header-ul {
    display: flex;
    align-items: center;
}

.navigation li {
    list-style-type: none;
    margin: 0 15px;
}
/* new */
.bakc {
    background-color: #3b87ad;
    padding: 6px;
    border-radius: 20px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
/* .navigation a:hover {
    color: rgb(0, 110, 255);
} */
.div-departman a:hover {
    color: rgb(0, 110, 255);
    transition: all 0.1s ease-in;
}

.more-menu {
    display: flex;
    justify-content: space-between;
}

.more-menu img {
    width: 8px;
    margin-right: 8px;
}

#show-departman-menu {
    position: relative;
}

.departman-menu {
    position: absolute;
    top: 0;
    left: -980px;
    background-color: rgb(226, 226, 226);
    display: none;
    justify-content: flex-start;
    width: 1150px; 
    border-top: 5px solid rgb(0, 162, 255);
    border-bottom: 5px solid rgb(0, 162, 255);
    border-radius: 20px;
    padding: 40px 20px 20px;
    margin-top: 25px;
}

.div-departman {
    display: flex;
}

.departman-menu p {
    font-size: 1.2rem;
    color: rgb(0, 153, 255);
    margin-right: 15px;
}

.departman-menu a {
    font-size: 15px;
    display: block;
    margin-top: 17px;
    line-height: 25px;
}

.hamburger-icon {
    display: none;
    width: 27px;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(226, 226, 226);
    z-index: 100;
    width: 100%;
    padding: 10px;
    transform: translateY(-100%);
    border-bottom: 5px solid rgb(0, 162, 255);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cross-icon {
    width: 100%;
    padding: 10px 0 0;
}

.cross-icon img {
    width: 20px;
    margin-left: 30px;
}

.hamburger-menu-items {
    padding: 10px 30px;
}

.hamburger-menu-items ul {
    list-style-type: none;
}

.hamburger-menu-items a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0;
}

.hamburger-menu-items a:hover {
    color: rgb(0, 153, 255);
}

.show-hamburger-menu {
    animation: fadeInDown 0.5s forwards;
}

main {
    width: 100%;
    height: 470px;
    margin-top: 20px;
    margin-bottom: 30px;
}

main div {
    position: relative;
}

main h1 {
    position: absolute;
    top: 20px;
    right: 90px;
    color: black;
}

main a {
    position: absolute;
    top: 350px;
    right: 100px;
    text-decoration: none;
    color: black;
    background-color:#6a9ab1;
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 5px 10px;
}

main img {
    width: 1000px;
    height: 470px;
    margin-right: 75px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgb(224, 224, 224),
    -10px -10px 10px rgb(218, 221, 228);
    position: absolute;
    top: 0;
    right: 0;
}

article {
    width: 1240px;
    margin: 0 auto;
}

.conteiner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.conteiner-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-child img {
    width: 190px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgb(224, 224, 224),
    -10px -10px 10px rgb(218, 221, 228);
}

.conteiner-child a {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.main-sec {
    width: 1200px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto 0;
}

.main-sec .paregraph {
    width: 500px;
    text-shadow: 1px 1px 15px gray;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.departman-link {
    color: black;
    text-decoration: none;
}

.main-sec .paregraph a {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    /* text-align: center; */
}

.main-sec .paregraph p {
    font-size: 1rem;
    text-align: justify;
    line-height: 40px;
    margin-top: 15px;
}

.main-sec .image img {
    width: 550px;
    height: 350px;
    box-shadow: 10px 10px 10px rgb(224, 224, 224),
    -10px -10px 10px rgb(218, 221, 228);
    border-radius: 30px;
}

.sections {
    width: 1240px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 40px;
    margin: 50px auto 15px;
    padding: 20px;
}

.sections section {
    margin-bottom: 20px;
    width: fit-content;
    /* background-color: rgb(143, 187, 187); */
    background-color: #86b5e6;
    padding: 20px;
    text-align: center;
    border-radius: 35px;
    box-shadow: 10px 10px 10px rgb(224, 224, 224),
    -10px -10px 10px rgb(218, 221, 228);
    text-shadow: 2px 2px 5px gray;
    color: white;
}

.sections section img {
    border-radius: 20px;
    margin-bottom: 20px;
    width: 275px;
    height: 187px;
}

.sections section h1 {
    margin-bottom: 15px;
}

.sections section p {
    line-height: 25px;
}

.moarefi {
    width: 1150px; 
    height: 200px; 
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.moarefi p {
    padding: 20px;
}

.moarefi-second-p {
    margin:0 20px;
}

.photo-video-box {
    background-color: cadetblue; 
    padding: 30px;
}

.photos {
    display: flex; 
    justify-content: center;
}

.photos img {
    border-radius: 30px;
}

.main-pic {
    margin: 0 40px;
}

.videos {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}

.videos video {
    background-color: black; 
    border-radius: 30px; 
    width: 300px; 
    height: 200px;
}

.main-video {
    margin: 0 40px;
}

.bazargan-sec {
    background: none; 
    position: relative; 
    height: 450px;
}

.sec-last-a {
    background-color: cornflowerblue; 
    padding: 5px 10px; 
    border-radius: 10px; 
    position: absolute; 
    bottom: 30px; 
    right: 150px;
    text-decoration: none;
}

.bazargan-last-div {
    width: 1150px; 
    background-color: cadetblue; 
    height: 200px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}

.bazargan-last-div p {
    padding: 20px;
}

.bazargan-last-div p:last-child {
    margin:0 20px;
}

.bazargan-last-div img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.big-pic img{
    width: 1190px;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px auto 0;
    padding: 80px;
    /* background-color: gainsboro; */
    background-color: #6a9ab1;
}

.document {
    width: 500px;
    margin-left: 100px;
}

.parag {
    line-height: 30px;
}

.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 500px);
}

.links li {
    list-style-type: none;
    margin-bottom: 10px;
}

.links a {
    text-decoration: none;
    color: black;
}

.contact p {
    margin-bottom: 10px;
}

.first-p {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.contact-images {
    display: flex;
    margin-top: 15px;
}

.contact-image {
    background-color: white;
    margin-left: 15px;
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.form-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-div {
    width: 380px;
    height: 600px;
    padding: 10px 35px 25px 35px;
    background: rgb(217, 217, 228);
    border-radius: 40px;
    box-shadow: 10px 10px 20px rgb(179, 179, 179),
    -10px -10px 20px rgb(233, 233, 233);
}

.fields {
    width: 100%;
    padding-top: 40px;
}

.fields input {
    border: none;
    background: none;
    padding: 20px 5px 20px 5px;
    font-size: 15px;
    outline: none;
    font-family: "iranyekanwebregular", Arial, Helvetica, sans-serif;
}

.useremail, .phone-number {
    width: 100%;
    box-shadow: 8px 8px 15px rgb(161, 161, 161),
    -8px -8px 15px rgb(218, 218, 218);
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
}

#textarea {
    background-color: gainsboro;
    border-radius: 20px;
    padding: 10px;
    font-family: "iranyekanwebregular", Arial, Helvetica, sans-serif;
    margin-right: 25px;
    box-shadow: 8px 8px 15px rgb(161, 161, 161),
    -8px -8px 15px rgb(218, 218, 218);
}

.login-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    background: steelblue;
    color: white;
    font-family: "iranyekanwebregular", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 30px;
    box-shadow: 8px 8px 15px rgb(155, 155, 155),
    -8px -8px 15px gainsboro;
    transition: 0.5s 0s ease-out;
    cursor: pointer;
}

.login-button:hover {
    background: cyan;
}

.bell {
    width: 170px;
    height: 170px;
    border-radius: 20px;
    position: fixed;
    bottom: 0px;
    right: 10px;
}

.bell:hover {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
}

.bell img {
    width: 170px;
    margin-left: 10px;
    margin-top: -35px;
}

.applic {
    position: fixed;
    bottom: 0px;
    right: 20px;
    color: black;
    font-size: 1rem;
    width: 150px;
    text-align: center;
    display: none;
}

.applic:hover {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    border-radius: 20px;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}